*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-attachment: fixed;
  background: rgb(254, 255, 224);
  background: linear-gradient(
    160deg,
    rgba(254, 255, 224, 1) 7%,
    rgba(134, 253, 232, 1) 28%,
    rgba(153, 217, 230, 1) 59%,
    rgba(172, 182, 229, 1) 80%
  );
}

.container {
  width: 90%;
  margin: 0 auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
}

.header {
  display: flex;
  align-items: center;
  column-gap: 2em;
}

.header .backButton {
  background-color: #f0dd7a;
  border: none;
  border-radius: 20px;
  width: 65px;
  height: 65px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header .backButton img {
  width: 45%;
}

.header .title {
  color: #f0dd7a;
  text-shadow: 0px 4px 6px rgba(235, 4, 255, 0.63);
  font-weight: bold;
  font-size: 2rem;
}

.img-container{
  display: flex;
  width: 15%;
  background-color: rgba(244, 0, 0, 0);
  position: relative;
  top: -30px;
}

#myimage {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

.top{
  background-color: rgba(128, 0, 128, 0);
  display: flex;
  height: 170px;
  justify-content: space-between;
}

.select-container{
  width: 60%;
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  align-items: center;
  background-color: rgba(0, 0, 255, 0);
}

#HariPilih{
  Width: 150px;
  cursor : pointer;
}

.select-content{
  width: 60%;
  height: 60px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1.4rem;
}
.select-content label{
  width: 60%;
  display: flex;
}
.check-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  border: none; 
  background: none;
}
.check-button img{
  width: 100%;
  cursor: pointer;
}

.tableFixHead {
  overflow-y: scroll;
  height: 1000px;
  background-color: rgba(255, 255, 255, 0);
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
  background-color: yellow;
}
table {
  border-collapse: collapse;
  width: 100%;
  background: rgb(255, 255, 255, 0.5)
}
th,
td {
  padding: 8px 16px;
}
th {
  background: rgb(22, 150, 229);

}
#table tr td{
  text-align: center;
  height : 60px;
}

thead tr th {
  width: 160px;
}

.label{
  font-size: 1.4rem;
  font-weight: bold;
  align-items: center;
}
