* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.roller {
  position: absolute;
  z-index: -1;
  width: 40%;
  bottom: 0;
  right: 0;
}
.stan {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 20%;
}
body {
  height: 100vh;
  background-attachment: fixed;
  background: rgb(254, 255, 224);
  background: linear-gradient(
    160deg,
    rgba(254, 255, 224, 1) 7%,
    rgba(134, 253, 232, 1) 28%,
    rgba(153, 217, 230, 1) 59%,
    rgba(172, 182, 229, 1) 80%
  );
}
.container {
  width: 90%;
  margin: 0 auto;
  height: 80vh;
}
.welcome-container {
  display: flex;
  align-items: center;
  color: #f0dd7a;
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  top: 50px;
}
.welcome-container .left {
}
.welcome-container .right {
  font-size: 5rem;
}
.welcome-container .left h1,
.welcome-container .left p,
.welcome-container .right span {
  text-shadow: 0px 4px 6px rgba(235, 4, 255, 0.63);
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  column-gap: 2em;
}
.button-container {
  width: 250px;
  height: 10vh;
}
.button {
  display: flex;
  align-items: center;
  height: 100%;
  border-radius: 20px;
  column-gap: 1em;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.43);
  text-decoration: none;
  background-color: white;
}
.icon-container {
  background-color: #7d91f3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 5.5px 0px 8px 0px rgba(0, 0, 0, 0.38);
}
.button-container:last-child .icon-container {
  background-color: #f37da0;
}
.icon-container img {
  width: 55%;
}
.button-container .name-button {
  font-size: 1.5rem;
  font-weight: bold;
  color: #7d91f3;
}
.button-container:last-child .name-button {
  color: #f37da0;
}
