* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Signika", sans-serif;
}
body {
  height: 100vh;
  background-attachment: fixed;
  background: rgb(254, 255, 224);
  background: linear-gradient(
    160deg,
    rgba(254, 255, 224, 1) 7%,
    rgba(134, 253, 232, 1) 28%,
    rgba(153, 217, 230, 1) 59%,
    rgba(172, 182, 229, 1) 80%
  );
}
.container {
  width: 90%;
  margin: 0 auto;
  height: 80vh;
  padding-top: 6rem;
}
.header {
  display: flex;
  align-items: center;
  column-gap: 2em;
}
.header .backButton {
  background-color: #f0dd7a;
  border: none;
  border-radius: 20px;
  width: 65px;
  height: 65px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header .backButton img {
  width: 45%;
}
.header .title {
  color: #f0dd7a;
  text-shadow: 0px 4px 6px rgba(235, 4, 255, 0.63);
  font-weight: bold;
  font-size: 2rem;
}
.form-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
  background-color: #f0dd7a;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 30px 15px;
  border-radius: 12px;
}
.input-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}
.input-container input {
  width: 300px;
  border: none;
  padding: 5px 10px;
  border-radius: 12px;
}
.input-container .label {
  font-weight: bold;
}
.buttons-container {
  display: flex;
  justify-content: space-around;
}
.buttons-container button {
  border-radius: 12px;
  padding: 5px 40px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.buttons-container button:first-child {
  background-color: #7d91f3;
}
.buttons-container button:hover {
  transition: ease 0.2s;
}
.buttons-container button:first-child:hover {
  background-color: #7182d6;
}
.buttons-container button:last-child:hover {
  background-color: rgb(225, 225, 225);
}

/* quantitiy-container layout */
.quantity-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.quantity-container button {
  background-color: transparent;
  width: 35px;
  height: 35px;
  border-radius: 12px;
  border: 2px solid #7182d6;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quantity-container button:hover {
  background-color: #7182d6;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
}

/* Modal Layout */
.modal-background {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.474);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal-container {
  background-color: white;
  width: 360px;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  display: none;
  padding-top: 1em;
  padding-bottom: 1em;
  flex-direction: column;
  row-gap: 1em;
}
.modal-header {
  padding: 0 1em;
  padding-bottom: 1em;
  border-bottom: 2px solid rgb(228, 228, 228);
  display: flex;
  justify-content: space-between;
}
.modal-background button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.modal-header button img {
  width: 20px;
}

.modal-content{
  display: flex;
  width: 100%;
  row-gap: 1rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.box-container{
  display: flex;
  display: flex;
  align-items: center;
}
.box-content {
  width: 230px;
  height: 55px;
  display: flex;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  border-radius: 5px;
  padding: .5em 1em;
  align-items: center;
  transition: 100ms ease;
}
.box-content:hover{
  background-color: rgb(244, 244, 244);
}
.box-container input{
  position: relative;
  left: -2em;
  cursor: pointer;
}
.detail-ticket{
  display: flex;
  flex-direction: column;
}
.detail-ticket span{
  font-size: .8em;
  color: rgb(188, 188, 188);
}
.detail-ticket span:first-child{
  color: black;
  font-size: 1rem;
  font-weight: bold;
}
.modal-confirm{
  background-color: rgb(234, 234, 234);
  width: 360px;
  padding: 1em;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: flex-end;
}
.modal-confirm button{
  background-color: #7182d6;
  color: white;
  padding: .5em 1em;
  border-radius: 10px;
  transition: 100ms ease;
}
.modal-confirm button:hover{
  background-color: #6877be;
}

/* Done */
.modal-done{
  width: 360px;
  background-color: white;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 1em;
  border-radius: 10px;
}

.done{
  background-color: #29ca8e;
  width: 70%;
  display: none;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 1em;
  border-radius: 10px;
}
/* Loading Style */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: black;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.displayHide {
  display: none;
}