* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Signika", sans-serif;
}
body {
  height: 100vh;
  background-attachment: fixed;
  background: rgb(254, 255, 224);
  background: linear-gradient(
    160deg,
    rgba(254, 255, 224, 1) 7%,
    rgba(134, 253, 232, 1) 28%,
    rgba(153, 217, 230, 1) 59%,
    rgba(172, 182, 229, 1) 80%
  );
}
.container {
  width: 90%;
  margin: 0 auto;
  height: 80vh;
  padding-top: 6rem;
}
.header {
  display: flex;
  align-items: center;
  column-gap: 2em;
}
.header .backButton {
  background-color: #f0dd7a;
  border: none;
  border-radius: 20px;
  width: 65px;
  height: 65px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header .backButton img {
  width: 45%;
}
.header .title {
  color: #f0dd7a;
  text-shadow: 0px 4px 6px rgba(235, 4, 255, 0.63);
  font-weight: bold;
  font-size: 2rem;
}
.form-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
  background-color: #f0dd7a;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 30px 15px;
  border-radius: 12px;
}
.input-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}
.input-container input {
  width: 300px;
  border: none;
  padding: 5px 10px;
  border-radius: 12px;
}
.input-container .label {
  font-weight: bold;
}
.buttons-container {
  display: flex;
  justify-content: space-around;
}
.buttons-container button {
  border-radius: 12px;
  padding: 5px 40px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
/* bisa diubah */
.buttons-container button:first-child {
  background-color: #7d91f3;
}
.buttons-container button:hover {
  transition: ease 0.2s;
}
.buttons-container button:first-child:hover {
  background-color: #7182d6;
}
.buttons-container button:last-child:hover {
  background-color: rgb(225, 225, 225);
}

/* Modal */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content1 {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content2 {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content3 {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close1 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close3 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Done */
.modal-done{
  width: 360px;
  background-color: white;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 1em;
  border-radius: 10px;
}

.done{
  background-color: #29ca8e;
  width: 70%;
  display: none;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 1em;
  border-radius: 10px;
}
/* Loading Style */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: black;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.displayHide {
  display: none;
}