* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    background-attachment: fixed;
    background: rgb(254, 255, 224);
    background: linear-gradient(
      160deg,
      rgba(254, 255, 224, 1) 7%,
      rgba(134, 253, 232, 1) 28%,
      rgba(153, 217, 230, 1) 59%,
      rgba(172, 182, 229, 1) 80%
    );
  }
  .container {
    width: 90%;
    margin: 0 auto;
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
  }
  .clouds {
    width: 500px;
    position: absolute;
    top: 0;
    right: calc(50vw - 480px);
  }
  .wheel {
    width: 450px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .header {
    display: flex;
    align-items: center;
    column-gap: 2em;
  }
  .header .backButton {
    background-color: #f0dd7a;
    border: none;
    border-radius: 20px;
    width: 65px;
    height: 65px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .header .backButton img {
    width: 45%;
  }
  .header .title {
    color: #f0dd7a;
    text-shadow: 0px 4px 6px rgba(235, 4, 255, 0.63);
    font-weight: bold;
    font-size: 2rem;
  }

  .img-magnifier-container {
    position: relative;
    width: 50vw;
    margin: auto;
    margin-top: 2rem;
  }

  #myimage {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .img-magnifier-glass {
    position: absolute;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 200px;
    height: 200px;
  }
