* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Signika", sans-serif;
}
body {
  height: 100vh;
  background-attachment: fixed;
  background: rgb(254, 255, 224);
  background: linear-gradient(
    160deg,
    rgba(254, 255, 224, 1) 7%,
    rgba(134, 253, 232, 1) 28%,
    rgba(153, 217, 230, 1) 59%,
    rgba(172, 182, 229, 1) 80%
  );
}
.container {
  width: 90%;
  margin: 0 auto;
  height: 80vh;
  padding-top: 6rem;
}
.header {
  display: flex;
  align-items: center;
  column-gap: 2em;
}
.header .backButton {
  background-color: #f0dd7a;
  border: none;
  border-radius: 20px;
  width: 65px;
  height: 65px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header .backButton img {
  width: 45%;
}
.header .title {
  color: #f0dd7a;
  text-shadow: 0px 4px 6px rgba(235, 4, 255, 0.63);
  font-weight: bold;
  font-size: 2rem;
}
.form-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
  background-color: #f0dd7a;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 30px 15px;
  border-radius: 12px;
}
.input-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}
.input-container input {
  width: 300px;
  border: none;
  padding: 5px 10px;
  border-radius: 12px;
}
.input-container .label {
  font-weight: bold;
}
.buttons-container {
  display: flex;
  justify-content: space-around;
}
.buttons-container button {
  border-radius: 12px;
  padding: 5px 40px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.buttons-container button:first-child {
  background-color: #7d91f3;
}
.buttons-container button:hover {
  transition: ease 0.2s;
}
.buttons-container button:first-child:hover {
  background-color: #7182d6;
}
.buttons-container button:last-child:hover {
  background-color: rgb(225, 225, 225);
}

/* quantitiy-container layout */
.quantity-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.quantity-container button {
  background-color: transparent;
  width: 35px;
  height: 35px;
  border-radius: 12px;
  border: 2px solid #7182d6;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quantity-container button:hover {
  background-color: #7182d6;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
}

/* Modal Layout */
.modal-background {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.474);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-container {
  background-color: white;
  width: 360px;
  height: 500px;
  border-radius: 10px;
  display: flex;
  padding-top: 1em;
  padding-bottom: 1em;
  flex-direction: column;
  row-gap: 3em;
}
.modal-header {
  padding: 0 1em;
  padding-bottom: 1em;
  border-bottom: 2px solid rgb(228, 228, 228);
  display: flex;
  justify-content: space-between;
}
.modal-background button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.modal-header button img {
  width: 20px;
}

.modal-content{
  display: flex;
  width: 100%;
  height: 10px;
  justify-content: center;
}
.box-container{
  display: flex;
  /* width: 150px; */
  display: flex;
  align-items: center;
}
.box-content {
  width: 230px;
  height: 55px;
  display: flex;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  border-radius: 5px;
  padding: .5em 1em;
  align-items: center;
}
.box-container input{
  position: relative;
  left: -2em;
  cursor: pointer;
}
.displayHide {
  display: none;
}
